@charset "utf-8";

.btn-primary{ background:#be0008 !important; border-color:#be0008 !important}
.text-primary{ color:#be0008}
a,a:focus, a:hover{color: #be0008;}

.login_main{background:#f7f7f7 url(../images/main_red_bg.jpg) center top no-repeat;}
.login_main1{background: url(../images/login_red_img.png) left center no-repeat;}
.login_box .title a{ color: #be0008;}

.top_search .navbar-form{ border:2px solid #ca2f36;color:#ca2f36;}
.top_search .navbar-form .btn{ background:#ca2f36;}

.top .top_user .dropdown-toggle{color: #ca2f36; font-size: 18px;}
.top .top_user li.open a,.top .top_user .dropdown-toggle:hover,.top .top_user .dropdown-toggle:focus{ background-color: #fff; border-top-color: #ca2f36; }
.top .top_user li>.dropdown-menu .divider{background-color: #ddd;}
.top .top_user li>.dropdown-menu>li>a{ font-size: 18px; padding-left: 15px;}
.top .top_user li>.dropdown-menu>li>a:focus, .top .top_user li>.dropdown-menu>li>a:hover{color:#ca2f36;}

.v_main1 h3.title a{color:#be0008;background:#fff0f1; border:1px solid #e6868a}
.v_main1 h3.title a:hover{ background:#e6868a}

.v1 .v1_albums .list-group-item,.v1 .v1_discover h5,.v1 .v1_notes .v_discuss_list h5,.v_c_f h5{ font-size:18px;}
.v1 .v1_notes .v_discuss_list p{ font-size:14px;}

.v_list .bd ul li a h4{ font-size:22px;}
.v_list .hd ul li.on{ background:#be0008}
.v_list .bd ul li a .tj{background:#ca2f36;}
.v_list .bd ul li a .tj:before{color:#ca2f36}

.v_discuss_list .v_d_l_1 .pull-right a{ color:#be0008;}
.v_discuss .btn,.v_discuss_list .media p,.v_discuss_list .v_d_l_1,.v_discuss_list .v_d_l_1 .pull-right a,.v_discuss_list .media1 h5{ font-size:16px;}
.v_c_d{ font-size:18px; line-height:30px;}