/*===============================
filename:    index.css
description: 页面主体样式
version:     2015-08-07
author:      yucan
===============================*/
body{background: #f1f1f1;}
ol, ul, li { list-style: none; padding:0px;}
table{border-collapse: collapse; }
a:link ,a:visited{text-decoration: none; color:#444; font-size:12px;}
.zj-mar-left15{margin-left:15px;}
.zj-mar-bot15{margin-bottom:15px;}
.zj-mar0{margin:0px;}
.zj-pad-topbot20{padding-top:15px; padding-bottom: 15px;}
.zj-bg-white{background-color:#fff;}
/***********初始化container的宽度***********/
@media(min-width:1300px) {
.container{width:1230px;}
}
/***********pc端首页整体布局***********/
@media(min-width:1024px) {
    .zj-container{width:1230px;}
    .zj-ind-left{width:323px;}
    .zj-ind-mid{width:686px;}
    .zj-ind-right{width:221px;}
    .zj-news-tab .tab-content{height: 443px;}
}
/***********移动端首页整体布局***********/
@media(max-width:1024px) {
    .zj-container,.zj-ind-left,.zj-ind-mid,.zj-ind-right{width:100%;}
}
/***********窗口介绍页面整体布局***********/
@media(min-width:1200px) {
    .zj-win-intrlist{width:74%;}
}
@media(min-width:992px) {
    .zj-win-intrlist{width:69%;}
}
header{background:#0e4a92 url("../images/headbg.jpg") repeat-y center top;}
/***********登录***********/
a.zj-login{background: url("../images/login_bgnew.png") no-repeat center top; color:#fff; width:177px; height: 22px;}
.zj-login:hover{color:#fff;}
/***********搜索***********/
.zj-search{padding:25px 0px;}
.zj-search-btn,.zj-search-btn:hover{background:#ee9924; border:1px solid #ee9924;}
.zj-search-btn .fa-search{color:#fff;}
.zj-search .zj-search-input{padding:6px 0px;}
.zj-search .zj-search-select{padding:6px 0px;}
.zj-search .zj-search-select select{padding:7px;}
/***********导航***********/
.zj-nav li a{font:18px/20px microsoft yahei; color:#fff;}
.zj-nav li a:focus,.zj-nav li a:hover,.zj-nav li.active a{background:url("../images/nav-cur-cio.gif") no-repeat center bottom;}
@media(max-width:1024px) {
    .zj-nav li a:hover,.zj-nav li.active a{background-position: 25px bottom;}
}
/***********热门事件***********/
.zj-hot-last>.nav-tabs{border-bottom:none;}
.zj-hot-last .nav-tabs li a{padding:0px 15px 5px; color:#848484;}
.zj-hot-last>.nav-tabs li a{font:18px/30px microsoft yahei; border:none;}
.zj-hot-last .nav-tabs>li.active>a,.zj-hot-last .nav-tabs>li.active>a:focus,.zj-hot-last .nav-tabs>li.active>a:hover{border:0px; background:none; border-radius: 0px;}
.zj-hot-last .nav-tabs li a:hover{ background:none; border:none; color:#e58100;}
.zj-hot-last>.nav-tabs>li.active>a,.zj-hot-last>.nav-tabs>li.active>a:hover{color:#e58100; background: url("../images/ico_01.gif") no-repeat center bottom!important;}
.zj-hot-last>.tab-content{border:1px solid #e4e4e4; padding:10px;}
.zj-hot-last>.tab-content .tab-content{padding:10px 0px;}
.zj-hot-last .tab-content .nav-tabs li{width:auto!important;}
.zj-hot-last .tab-content li{font:12px/28px simsun; width:100%; overflow: hidden;}
.zj-hot-last .tab-content li .zj-topnews-ico{float:left; width:17px; height:17px; border: 1px solid #e4e4e4; color:#888;margin:5px 5px 0px 0px; text-align: center; font:12px/14px microsoft yahei;}
.zj-hot-last .tab-content li a{float:left;}
.zj-hot-last .tab-content li .zj-orange{background:#e58100; color:#fff;}
.zj-hot-last .zj-more a{display:block; margin:0px -10px -10px; border-top:1px solid #e4e4e4; font:16px/35px microsoft yahei; color:#999; text-align: center;}
/***********服务指南***********/
.zj-ser-tab h3{font:18px/30px microsoft yahei; color:#e58100; margin:0px 0px 4px;}
.zj-ser-tab .nav-tabs{border:1px solid #e4e4e4; background: #e7e7e7;}
.zj-ser-tab .nav-tabs li a{font:18px/30px microsoft yahei; color:#555; padding: 5px 10px;}
.zj-ser-tab .tab-content{border:1px solid #e4e4e4; border-top:none; padding:10px; overflow: hidden; background: #fff;}
.zj-ser-tab .tab-content ul{height:260px; overflow: hidden; background: #fff;}
.zj-ser-tab .tab-content li{float:left; margin:30px 6px 0px; text-align: center; width: 100px; height: 100px; }
.zj-ser-tab .tab-content li span{display: block; font:14px/26px microsoft yahei;}
.zj-ser-tab .zj-icomore a{display:block; margin:12px -10px 0px; border-top:1px solid #e4e4e4; font:16px/35px microsoft yahei; color:#999; text-align: center;}
.zj-ser-tab .zj-icomore .fa{color: #d62b30;}
.zj-ser-tab .zj-icomore-return i{ background:url("../images/zj-icomore-return.gif") no-repeat left center; width: 18px; height: 18px; text-indent:-9999px;}
.zj-tab-content{position: absolute; z-index: 999; margin-right: 15px;}
/*===============服务指南左侧搜索==================*/
.serve_fwzn {height:105px;}
.serve_fwzn .sear_con { margin:30px auto; height:27px; line-height:27px; padding:4px 0px; background:url(../images/serve_searbg.gif) no-repeat 10px top;}
.serve_fwzn .sear_con input { float:left; border:none; background:none; height:18px; line-height:18px; width:195px; padding-left:30px; overflow:hidden; color:#9a9a9a;}
.serve_fwzn .sear_con button { width:38px; height:27px; float:left; margin-top:-4px; background:none; border:none;}
/*===============服务指南右侧选项==================*/
.serve_right { height:695px; position:relative;}
.serve_select {line-height:25px; padding:5px 0; margin:0px 20px; text-align:left; min-height:25px;}
.serve_select:after { content:"."; display:block; visibility:hidden; height:0; clear:both; }
.serve_select a { font:12px/35px "宋体";height:25px; color:#1e6cc0; margin-right:16px; padding:0 5px;white-space:nowrap;float:left;display:inline;}
.serve_select .selected { color:#fff; background:#a4bcc3; }
/*******服务指南事项明细*******/
.zj-newspage .zj-newspage-con table { border-left:#cecece 1px solid; border-top:#cecece 1px solid; width:90%; margin:0 auto; }
.zj-newspage .zj-newspage-con table th, .con table td { border-bottom:#cecece 1px solid; border-right:#cecece 1px solid; padding:8px; text-align:left; color:#333; }
.zj-newspage .zj-newspage-con table th { text-align:right; width:180px; background:#f3f3f1; font-weight:normal;}
.zj-newspage .zj-newspage-con table td p { line-height:180%; }
.zj-newspage .zj-newspage-con table td .download { background:url(../images/ico_03.png) right center no-repeat; padding-right:15px; }
/*===============咨询交流整体框架==================*/
.consult_left {margin-bottom:10px; background:#fff;}
.consult_left h3 { height:60px; text-align:left; padding-left:20px; font:18px/60px "微软雅黑,黑体"; color:#548f4a; }
.consult_right {background:#fff; border:1px solid #ddd; border-top:4px solid #619a57; }
/*===============咨询交流左侧选项条==================*/
.consult_select { line-height:33px; margin:0px 20px; text-align:left; border-bottom:1px solid #ddd; }
.consult_select a { font:12px/33px "宋体"; color:#1e6cc0; margin-right:12px; padding:2px 5px }
.consult_select .selected { color:#fff; background:#619a57; }
/*===============咨询交流左侧问答==================*/
.consult_bx { padding:20px 10px; margin:0px 10px; border-bottom:1px dashed #ddd; text-align:left; }
.consult_bx:after { content:"."; display:block; visibility:hidden; height:0; clear:both; }
.consult_bx span { float:left; padding-left:7px; width:43px; height:21px; background:url(../images/consult_ico.gif) no-repeat left top; font:600 16px/21px Arial, Helvetica, sans-serif; color:#fff; }
.consult_bx p { padding-left:50px; }
.consult_bx .ask { font:14px/24px "宋体"; padding-bottom:10px; }
.consult_bx .ans { font:12px/24px "宋体"; color:#6d9367; }
/***********办事统计***********/
.zj-statistics{}
.zj-statistics h3{font:18px/30px microsoft yahei; color:#e58100; margin: 0px;}
.zj-statistics p{font:12px/20px microsoft yahei;}
.zj-statistics dl{font:normal 16px/30px microsoft yahei; margin-bottom: 0; color:#999;}
.zj-statistics dd{height:23px;}
.zj-statistics dt span{color:#ef6f3e; font-size:22px;}
/***********幻灯片***********/
.zj-slide-pic{width:293px;}
/***********新闻动态选项卡***********/
.zj-news-tab .nav-tabs li a{font:18px/30px microsoft yahei; color:#e58100; padding: 5px 10px; border:none;}
.zj-news-tab .nav-tabs>li.active>a,.zj-news-tab .nav-tabs>li.active>a:focus, .zj-news-tab .nav-tabs>li.active>a:hover{border: none; border-bottom:3px solid #e58100;}
.zj-news-tab .tab-content{border:1px solid #e4e4e4; border-top: 0px; padding: 10px;}
.zj-news-tab .tab-content li{font:12px/26px simsun; padding: 2px 10px;}
.zj-news-tab .tab-content li:nth-child(2n){background:#f3f3f3;}
.zj-news-tab .tab-content li a{font:12px/26px simsun;  background:url("../images/news-ico.gif") no-repeat left 5px; padding-left:8px;}
/***********快速通道***********/
.zj-fast-channel h3{font:18px/30px microsoft yahei; color:#e58100; margin: 5px;}
.zj-fast-channel table{margin-bottom:17px;}
.zj-fast-channel tr{background:#f3f3f3;}
.zj-fast-channel tr a img{margin-right:10px;}
.zj-fast-channel tr a{font:16px/41px microsoft yahei; color:#666;}
/***********footer版权***********/
footer{background:#c2c2c2; padding: 30px;}
footer p{color:#fff; font:12px/24px simsun;}
/***********窗口介绍***********/
.zj-column-banner{height:178px; background:#f1f1f1 url("../images/win-banner.jpg") no-repeat center top; border-top:1px solid #fff;}
.zj-win-intrlist table{margin:20px 0px 0px;}
.zj-win-intrlist table tr td{border-top:3px solid #fff; background: #ededed;}
.zj-win-intrlist table tr th{vertical-align: middle;  font:20px/20px microsoft yahei; padding: 0px; border-top:6px solid #febd01;}
.zj-win-intrlist table tr th>span{padding:20px 0px;}
.zj-win-intrlist table tr th .fa{line-height:20px; padding-left: 10px;}
.zj-win-intrlist table .zj-win-num{color:#fff; padding-left: 10px;}
.zj-win-intrlist table .zj-win-tit{padding-left: 10px; line-height: 50px;}
.zj-win-intrlist table .zj-win-phone .fa{color:#449934; margin-right:0.1em; line-height: 50px;}
.zj-win-intrlist table .zj-win-name .fa{color:#ffb400; line-height: 50px;}
.zj-win-intrlist .zj-win-thbg01{background:#e55000;}
.zj-win-intrlist .zj-win-thbg02{background:#e6e6e6;}
.zj-win-intrlist .zj-win-thbg03{background:#dbdbdb;}
.zj-win-intrlist .zj-win-thbg04{background:#e6e6e6;}
.zj-win-intrlist table p{font:14px/28px microsoft yahei; text-indent:28px;}
.zj-win-nav{width:295px; display: none; }
@media(min-width:992px) {
    .zj-win-nav{display:block;}
}
.zj-win-navtop{background:url("../images/win-nav-head.gif") no-repeat center top; height: 110px;}
.zj-win-navmid dt{background:url("../images/win-nav-bg.png") no-repeat center top; height: 60px; font:bold 20px/40px microsoft yahei; color:#fff; margin-bottom: -15px;}
.zj-win-navmid dd{width:226px; margin:0px auto;}
.zj-win-navmid dd a{background:#febd01; font:18px/40px microsoft yahei; color:#7d3a03; display: block; text-align: center;}
.zj-win-navmid dd.zj-win-dd1 a{background:#ffcb33;}
.zj-win-navbot a{background:url("../images/win-return-top.gif") no-repeat center top; width:226px; height: 98px; margin: 0px auto;}
/*=====================栏目导航=========================*/
.zj-TypePagelmNavigate {min-height:400px; border:1px solid #e4e4e4;  border-top: 5px solid #e5913a; padding: 10px 20px; margin: 0px 0px 0px 50px;}
.zj-TypePagelmNavigate h3 { font:20px/50px microsoft yahei; color:#003274; margin-top:0px;}
.zj-TypePagelmNavigate li{border-bottom:1px dashed #e4e4e4; background:url("../images/newslistico4.gif") no-repeat right center;}
.zj-TypePagelmNavigate li a{font:16px/40px microsoft yahei; color:#777; background:url("../images/newslistico1.gif") no-repeat 15px center; padding-left: 30px; }
.zj-TypePagelmNavigate li.current a{ background:url("../images/newslistico2.gif") no-repeat 15px center;}
/*=====================栏目列表=========================*/
.zj-crumbs{background: url(../images/newslistico3.gif) no-repeat left center; padding-left:20px; font:12px/30px microsoft yahi; }
.zj-crumbs a{font:12px/30px microsoft yahi; color:#555;}
.zj-TypePageContent {min-height:550px;}
.zj-TypePageContent h3 {height:35px;}
.zj-TypePageContent h3 span { float: left; color: #003274; padding-left: 35px; font:600 18px/35px microsoft yahei; }
.zj-TypePageContent .typelist { margin-top: 20px; }
.zj-TypePageContent .typelist li { border-bottom: 1px dashed #e4e4e4; overflow: hidden; }
.zj-TypePageContent .typelist ul li a { float: left; padding-left: 25px; background: url(../images/news-ico.gif) 5px center no-repeat; font:14px/32px microsoft yahei; color:#666;}
.zj-TypePageContent .typelist ul li .time {float: right; line-height: 32px; color: #999; padding-right:10px;}
/*=====================新闻内容=========================*/
.zj-newspage { margin:2px auto;  min-height: 500px;  padding-bottom:30px; }
.zj-newspage h3 {color: #333; font:bold 20px/50px microsoft yahei;}
.zj-newspage .zj-newspage-con { line-height: 200%; color:#5d5d5d;  margin: 10px auto 0px; text-align: left; }
.zj-newspage .zj-newspage-con p { text-indent: 2em;}
/*===========登录口===========*/
.login_box { display:inline; position:relative; *z-index:9999;}
.login_box .login { z-index: 998;position:absolute;top:10px; top:0px\9;*top:10px; left:-300px; width:254px; height:187px; background:url(../images/login_bg.png) left top no-repeat; text-align:left;}
.login_box .login .close{text-decoration:none;z-index: 999;position:absolute;top:13px; top:0px\12;*top:13px; right:15px;display:block;}
.login_box .login .user{ padding-top:75px;}
.login_box .login .passw { clear:both; padding-top:5px;*padding-top:2px;}
.login_box .login label { width:72px; text-align:right; color:#000; float:left;}
.login_box .login input { width:118px; float:left; display:inline; margin-left:5px; height:24px; line-height:24px; padding:0 3px 0 25px; background:#fff url(../images/ico_01.png) no-repeat; border:#cddcf0 1px solid;}
.login_box .login .user input { background-position: 5px -92px;}
.login_box .login .passw input { background-position: 5px -122px;}
.login_box .login .btn { padding-top:5px;*padding-top:2px; clear:both;}
.login_box .login .btn button { width:67px; height:24px; line-height:24px; background:url(../images/ico_01.png) 0 -151px no-repeat; border:none; color:#4679bf; font-size:14px; font-weight:bold; margin-left:77px;}
.login_box .login .btn a { margin-left:10px; color:#4679bf;}
/*===========修改密码===========*/
.modpwd_box { display:inline; position:relative; *z-index:9999;}
.modpwd_box .modpwd { z-index: 998;position:absolute;top:10px; top:0px\9;*top:10px; left:-300px; width:254px; height:200px; background:url(../images/modpwd_bg.png) left top no-repeat; text-align:left;}
.modpwd_box .modpwd .close{text-decoration:none;z-index: 999;position:absolute;top:13px; top:0px\12;*top:13px; right:15px;display:block;}
.modpwd_box .modpwd .user{ padding-top:75px;}
.modpwd_box .modpwd .passw { clear:both; padding-top:5px;*padding-top:2px;}
.modpwd_box .modpwd label { width:72px; text-align:right; color:#000; float:left;}
.modpwd_box .modpwd input { width:118px; float:left; display:inline; margin-left:5px; height:24px; line-height:24px; padding:0 3px 0 25px; background:#fff url(../images/ico_01.png) no-repeat; border:#cddcf0 1px solid;}
.modpwd_box .modpwd .user input { background-position: 5px -92px;}
.modpwd_box .modpwd .passw input { background-position: 5px -122px;}
.modpwd_box .modpwd .btn { padding-top:5px;*padding-top:2px; clear:both;}
.modpwd_box .modpwd .btn button { width:67px; height:24px; line-height:24px; background:url(../images/ico_01.png) 0 -151px no-repeat; border:none; color:#4679bf; font-size:14px; font-weight:bold; margin-left:77px;}
.modpwd_box .modpwd .btn a { margin-left:10px; color:#4679bf;}
/*===========访问统计===========*/
span.fwcount{  
    background-color: #f00;  
    background-image: -webkit-linear-gradient(top, #f00, #600); /* Chrome 10+, Saf5.1+, iOS 5+ */  
    background-image: -moz-linear-gradient(top, #f00, #600); /* FF3.6+ */  
    background-image: -ms-linear-gradient(top, #f00, #600); /* IE10 */  
    background-image: -o-linear-gradient(top, #f00, #600); /* Opera 11.10+ */    
    color:#fff;  
    font-family:Verdana;
    font-weight:normal;
    padding:2px 5px;
    border:1px solid #fff;  
    margin-top:-20px;  
    box-shadow: 0 2px 3px 0px rgba(0,0,0,1);  
    text-shadow: -1px -1px 0 #000;  
}
/*===========事项描述===========*/
.type_fwzn{ height:24px; line-height:24px; padding:10px 0; font-weight:normal; }
.type_fwzn span{ float:left; color:#999999; margin:0 90px; }
/*===============个人空间right搜索条==================*/
.sys_right { float:right; background:#fff; width:674px; padding:15px; border:1px solid #ddd; border-top:3px solid #a61d30;min-height:200px;padding-bottom:50px;position:relative; }
.sys_right .sys_tool {overflow:hidden;padding:5px 10px; line-height:25px;}
.sys_tool .sys_zjck { display:block; float:left; background:url(../images/sys_bt03.gif) no-repeat left top; width:110px; height:24px; font:12px/24px "宋体"; color:#fff!important; padding-left:30px; }
.sys_tool select { float:left; height:24px; line-height:24px; padding:2px 0px; margin-left:11px; }
.sys_tool input { float:left; margin:0px 10px; height:22px; line-height:22px; padding:0 2px; }
.sys_tool label { float:left; color:#333; line-height:24px; margin:0 5px; font-weight:bold;}
.sys_tool .sear_bt { float:left; margin-left:10px; width:46px; height:24px; line-height:24px; background:url(../images/sys_bt02.gif) no-repeat left top; color:#fff;border:none; }
/*===============关于我们==================*/
.zj-aboutus-link{cursor: pointer;}
.zj-modal-us .modal-header h4{font:16px/30px microsoft yahei; color:#e58100;}
.zj-modal-us dl{border-bottom:1px dashed #ddd; margin-bottom: 5px; padding-bottom: 5px;}
.zj-modal-us dt,.zj-modal-us dd{font:12px/26px microsoft yahei;}
.zj-modal-us dl dd .fa{padding-right:5px;}
.zj-modal-us dl dd a .fa-chevron-circle-right{padding-left:10px;}
.zj-modal-us .zj-us-tel dd{color:#ff9000; font-weight:bold;}
.zj-modal-us .zj-us-time dd{color:#52854c; font-weight:bold;}
.zj-modal-us .btn i{padding-right:5px;}
/*===============申请表下载==================*/
.zj-tablist .panel-heading{padding:4px 10px;}
.zj-tablist h4 a{font:14px/30px simsun;}
.zj-tablist h4 i{color:#e7a25a; padding-right:5px;}
.zj-tablist h4 .zj-fa-down{font:12px/30px simsun;}
.zj-tablist h4 .zj-fa-down i{color:#666; vertical-align:middle;}
.zj-tablist h4 .zj-fa-down:hover{color:#34b66f;}
.zj-tablist h4 .zj-fa-down:hover i{color:#34b66f;}
.zj-tablist h4 a .fa-plus-square-o{display:none;}
.zj-tablist h4 .collapsed .fa-minus-square-o{display:none;}
.zj-tablist h4 .collapsed .fa-plus-square-o{display:inline-block;}
.zj-tablist li{border-bottom:1px solid #ddd;}
.zj-tablist li a{font:12px/30px simsun; }
.zj-tablist li i{color:#2ab368;}

.search_tablex{width:100%;}
.search_tablex tr td{padding:1px 0px;text-align: left}
.search_tablex tr th{text-align:right;padding-right:5px;}
/*按钮通用样式*/
.save_btn{background:url("../images/sys_bt02.gif") no-repeat left 2px; height:22px; width:46px; border:none; color:#fff;cursor: pointer;}
.sys_tool input.save_btn1{background:url(../images/sys_bt02x.gif) repeat-x left 2px; height:22px; width:auto;padding:0px 10px; border:none; color:#fff;}
.print_btn{background:red url(../images/ico_01.png) no-repeat;width:68px; height:25px;font-size:14px; font-weight:bold;border:none;color:#fff; background-position:-15px -57px;}
.save_btnx{background:url(../images/sys_bt02.gif) repeat-x left 2px; height:22px;padding:0px 10px;border:none; color:#fff;cursor: pointer;}
/***********友情链接***********/
.panel .showyqlj{margin-bottom:0px; margin-right: 10px; margin-left: 10px; height:190px;}
.panel .showyqlj h3{font:18px/30px microsoft yahei; color:#e58100; margin: 5px;}
.panel .showyqlj li{border:5px solid #ececec; margin-bottom: 5px;}
.panel .showyqlj li a{font:16px/30px microsoft yahei; color:#666; padding-left: 10px;}
.glyphicon{margin-right:4px !important; /*override*/}
.pagination .glyphicon{margin-right:0px !important; /*override*/}
.pagination a{color:#555;}
.panel .showyqlj ul{padding:0px;margin:0px;height:158px;}
.news-item{padding:4px 4px;margin:0px;border-bottom:1px dotted #555;}
/*========消息列表========*/
.massege_more { background:#A03C3C; border:#82475D 1px solid; line-height:30px; clear:both; margin-top:8px; text-align:center; float:left; width:99.5%; }
.massege_more a { text-decoration:none!important; font-size:14px; font-weight:bold; color:#FFFFFF; }
.massege_more a:hover { color:#FFFFFF; }

/*===============在线取号==================*/
.zj-online-take .list-tit-ico{float:left; cursor:pointer; margin:0px; padding:20px 0px; border:1px solid #f8f8f8;}
.zj-online-take .list-tit-ico h3 a{font:20px/30px microsoft yahei; color:#2f519e;}
.zj-online-take .list-tit-ico h6{font-size:14px;}
.zj-online-take .modal-header{background:#0961a9;}
.zj-online-take .modal-header h4{color:#fff; font:20px/24px microsoft yahei;}
.zj-online-take .modal-header .close{opacity:1; text-shadow:none; color:#fff; font-size:30px;}
.zj-online-take .online-modal .zj-us-take dl{border:2px solid #cfcfcf; background:#f6f6f6; float:left; width:95%; cursor:pointer;}
.zj-online-take .online-modal .zj-us-take dl dt{font:18px/30px microsoft yahei; height:60px;}
.zj-online-take .online-modal .zj-us-take dl .online-modal-ico {background:url("../images/online-modal-ico.gif") no-repeat right bottom; border:2px solid #4990ca; color:#4990ca;}
.zj-online-take .online-modal .modal-footer{text-align:center;}
.zj-online-take-phone .list-tit-ico{padding:0; margin-bottom:20px; border:0;}
.zj-online-take-phone .list-tit-ico h3 a{font-size:16px;}
.zj-online-take-phone .online-modal .col-xs-6{padding:0;}
.zj-online-take-phone .online-modal dl .online-modal-ico{background:url("../images/online-modal-ico-phone.gif") no-repeat right bottom; background-size:21px 20px;}
.zj-online-take-phone .online-modal-return{background:url("../images/online-modal-return.gif") no-repeat right bottom; background-size:48px 21px; width:48px; height:21px;display:block;}
.zj-online-take-phone .online-modal-selectbtn{margin:0px 10px; padding:5px 30px; border-radius:0px; font-size:16px;}

/*===============华师大窗口评价==================*/
.evaluate-titlist dd{font:14px/30px microsoft yahei;}
.evaluate-show dd span{margin-right:20px;}
.evaluate-submit{border-top:1px solid #ddd; padding-top:20px;}
.evaluate-submit button{margin:0 0 20px 20px;}